/* Sweep To up */
.hvr-sweep-to-right {
    transform: perspective(1px) translateZ(0);
    position: relative;
    transition: color 0.3s;
}

.hvr-sweep-to-right:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: lightgray;
    transform: scaleY(0);
    transform-origin: bottom center;
    transition: transform 0.3s ease-out;
}

.hvr-sweep-to-right:hover {
    color: white;
}

.hvr-sweep-to-right:hover:before {
    transform: scaleY(1);
    border-radius: 8px;
}